
.dance-party-section {
    background-color: var(--bg-color);
    padding: 40px var(--spacing);
}

.dance-party-container {
    max-width: 1200px;
    margin: auto;
}

/* Section Content - Flex Layout */
.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Left Column */
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-description h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.title-description h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.description-text {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* Right Column */
.right-column {
    flex: 2; /* Takes less space */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Banner Image */
.can-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Timeline and Buttons Layout Side by Side */
.timeline-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Timeline Section */
.timeline {
    width: 48%;
    background-color: var(--accent-color);
    padding: var(--spacing);
    border-radius: 12px;
}

/* Buttons Section */
.buttons {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Buttons Styling */
.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--accent-color);
}

.btn-icon {
    font-size: 1.5rem;
    margin-left: 10px;
}

/* Section 2: Design Rationale */
.design-rationale {
    background-color: var(--white);
    padding: 40px var(--spacing);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Fade-in Effect */
#design-rationale.visible {
    opacity: 1;
}

/* Section Title and Text Styling */
.section-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--primary-color);
    text-align: left;
    margin-top: 20px;
    max-width: 1200px;
}

/* Section Title Styles with Underline */
.section-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

/* Underline styling */
.section-title::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Figma Embed Styling */
.figma {
    padding: 40px var(--spacing);
}

.figma-embed-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.figma-embed-container iframe {
    width: 100%;
    height: 700px; /* Adjust the height as needed */
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Fullscreen Image Overlay */
.storyboard {
    background-color: var(--bg-color);

}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Fullscreen Image Overlay */
.storyboard {
    padding: 40px var(--spacing);
}

.storyboard h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 60px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for zooming and shadow */
    position: absolute;  /* Allow dragging */
    cursor: grab; /* Indicate it's draggable when not dragging */
}

/* Indicate the image is being dragged */
.fullscreen-overlay img:active {
    cursor: grabbing; /* Indicate it's being dragged */
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.zoom-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.zoom-buttons button {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.zoom-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.storyboard-img {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

/* Hover effect for zoom (without clicking) */
.storyboard-img:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
    box-shadow: 0 0 10px rgba(70, 67, 67, 0.6); /* Subtle glow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.storyboard h3 {
    font-size: 1.8rem;
    margin-top: 30px;
    color: var(--secondary-color);
}

.layout-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.layout-columns {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

.column {
    width: 55%; /* Adjust width as needed */
    
}

.layout-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

/* Carousel Shots */
.carousel {
    display: block; 
    width: 100%;  
    height: 500px;  
    justify-content: center;
    align-items: center;  
    position: relative;  
}

/* Set carousel cell to fill the carousel */
.carousel-cell {
    width: 100%;
    height: 100%;  
    overflow: hidden;  
    position: relative;  
}

/* Ensure image fills the cell correctly */
.carousel-cell img {
    width: 100%;  
    height: 100%;  
    object-fit: contain;
    object-position: center;
}

/* Style the Flickity prev/next buttons (the circle) */
.flickity-prev-next-button {
    background-color: var(--accent-color); /* Set the circle background */
    border: none;  /* Remove any border */
    width: 40px;   /* Set the size of the circle */
    height: 40px;  /* Set the size of the circle */
    border-radius: 50%;  /* Makes the button circular */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Arrow (icon) color */
.flickity-prev-next-button .flickity-button-icon {
    color: var(--primary-color);  /* Set the color of the arrow */
}

/* Hover effect for the arrow circle */
.flickity-prev-next-button:hover {
    background-color: var(--accent-color); /* Change circle color on hover */
}

/* Active state for arrows when clicked */
.flickity-prev-next-button:active {
    background-color: var(--secondary-color); /* Change circle color when clicked */
}





/* Responsive Media Queries */
@media (max-width: 500px) {
    .dance-party-section {
        padding: 40px 10px;
    }

    .dance-party-container {
        max-width: 100%;
    }

    .figma {
        padding: 40px 10px;
    }

    .storyboard {
        padding: 40px 10px;
    }

    .storyboard h2 {
        padding-top: 0px;
        margin-top: 0px;
    }

    .storyboard h3 {
        font-size: 1.3rem;
    }

    .section-content {
        flex-direction: column;
        gap: 10px;
    }

    .left-column, .right-column {
        flex: 1;
        padding: 10px;
    }

    .can-image img {
        width: 100%;
        border-radius: 20px;
    }

    .timeline-buttons {
        flex-direction: column;
    }

    .timeline, .buttons {
        width: 100%;
    }

    .btn {
        font-size: 0.8rem;
    }

    .btn-icon {
        font-size: 1.2rem;
    }

    .title-description h1 {
        font-size: 2rem;
    }

    .title-description h2 {
        font-size: 1.5rem;
    }

    .description-text {
        font-size: 1rem;
    }

    .storyboard-img, .layout-img {
        max-width: 100%;
    }

    .layout-columns {
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }

    .layout-subtitle {
        font-size: 1rem;
    }

    .column {
        width: 100%;
    }

    .carousel-cell { 
        width: 50%; 
    }
}