/* Global Styles */
:root {
  --primary-color: #0f4265;
  --secondary-color: #68abd2;
  --accent-color: #c7e2f3;
  --bg-color: #e7edf8;
  --beidge: #f4e9df;
  --highlight-color: #a5d2ca;
  --muted-color: #efd9df;
  --light-yellow: #fff8bc;
  --white: #ffffff;
  --font-primary: 'Afacad', sans-serif;
  --font-size-base: 16px;
  --spacing: 20px;
  --spacing-big: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--primary-color);
  background-color: var(--white);
  line-height: 1.6;
  
}

/* Navbar Styles */
header {
  background: var(--bg-color);
  padding: var(--spacing);
  position: relative;
  box-shadow: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.logo img {
  height: 65px; 
  width: auto;  
}

.logo a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex; /* Desktop: nav links shown horizontally */
  gap: var(--spacing-big);
  font-size: 1.3rem;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  padding-bottom: 4px;
}

.nav-links a:hover, .nav-links a:focus {
  border-bottom: 3px solid var(--secondary-color);
}

.nav-links li a.active {
  border-bottom: 3px solid var(--secondary-color); 
}

.nav-links li a.active-about {
  border-bottom: 3px solid var(--secondary-color); 
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 2rem;
  cursor: pointer;
}

/* New Home link: Hide by default */
.nav-links .home-link {
  display: none;
}



/* Landing Page */
.landing-container {
  background-color: var(--bg-color);
  padding: 40px var(--spacing);

}

/* Styling the landing content */
.landing-content {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap; /* Allow content to wrap on smaller screens */
}

/* Styling for landing text */
.landing-text {
  flex: 1; /* Take up remaining space */
  max-width: 50%; /* Limit the width on larger screens */
  padding-right: 20px; /* Space between text and animation */
}

#logo-name-img {
  width: 600px;
  height: auto;
}

.landing-text h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.landing-text p {
  font-size: 1rem;
  color: var(--muted-color); /* Muted color for description */
}

/* Styling for the landing animation section */
.landing-animation {
  flex: 1; /* Take up remaining space */
  text-align: center;
  max-width: 50%; /* Limit the width of the animation */
}

/* Ensure the animation image is responsive */
.landing-animation img {
  max-width: 100%;
  height: auto;
}

/* Magic button styles */
.landing-animation button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.landing-animation button:hover {
  background-color: var(--secondary-color); /* Change color on hover */
}







/* Featured Projects */
.featured-projects {
  text-align: center;
  padding: 60px var(--spacing);
  margin-left: 20px;
  margin-right: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing);
  justify-content: center;
}



/* All Projects */
.all-projects {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 60px var(--spacing);
  gap: var(--spacing);
  margin-left: 20px;
  margin-right: 20px;
}

.categories ul {
  list-style: none;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing);
}

/* Footer */
footer {
  background: url('../img/landing-page/footer-back.png');
  background-size: cover; /* Ensure the entire image is visible without stretching */
  background-position: center bottom; /* Ensures the bottom of the image aligns with the bottom of the footer */
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  margin: 0;
}

.footer-content {
  padding: 90px;
}

footer p {
  margin: 10px 0;
}

/* Featured Projects */
.featured-projects {
  text-align: center;
  padding: 60px var(--spacing);
}

.featured-projects h2 {
  font-size: 3rem;
  font-weight: 500;
  text-align: left; /* Left-aligned title for package design */
  margin-bottom: 20px;
  color: var(--primary-color);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing);
  justify-content: center;
}

.project-card {
  position: relative;
  background: var(--secondary-color);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 300px; /* Adjust height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

/* Add the gradient overlay using the ::before pseudo-element */
.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60%; /* Adjust to control the height of the gradient */
  background: linear-gradient(to bottom, var(--primary-color) 20%, rgba(255, 255, 255, 0) 90%); /* Gradient from primary color to transparent */
  border-radius: 8px;
  opacity: 0.6; /* Set opacity of the gradient */
  pointer-events: none; /* Prevent the overlay from interfering with any interactions */
  z-index: 1; /* Ensure the gradient overlay is on top */
  margin: 20px;
}


.project-card:hover {
  transform: scale(1.05);
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}



.project-card:hover .project-banner {
  opacity: 0.15; /* Reduce opacity of the banner on hover */
  background: var(--primary-color);
}

.card-content h3 {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  z-index: 2;
  margin: 0;
}

.subtitle {
  position: absolute;
  top: 50px;
  left: 15px;
  font-size: 1rem;
  font-weight: 400;
  z-index: 2;
}

.featured-description {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 1rem;
  font-weight: 400;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .featured-description {
  opacity: 1; /* Show the description when hovered */
}


/* All Projects Section */
.all-projects {
  padding: 40px var(--spacing);
}

.all-projects h2 {
  font-size: 3rem;
  font-weight: 500;
  text-align: left; /* Left-aligned title for package design */
  margin-bottom: 20px;
  color: var(--primary-color);
}

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Categories in the first column and cards in the second */
  gap: var(--spacing);
  justify-content: center;
}

.categories {
  padding: 20px;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Add styles for the active category */
.categories li.active {
  background-color: var(--accent-color);
  border-radius: 8px;
}

/* Remove the hover effect for active category */
.categories li:hover {
  background-color: var(--accent-color);
  border-radius: 8px;
}


/* Projects Column */
.all-projects-list {
  display: grid;
  grid-template-columns: 1fr; /* Only one column for all the project cards */
  gap: var(--spacing);
}

/* Individual Project Cards */
.all-project-card {
  background: var(--secondary-color);
  color: #fff;
  padding: var(--spacing);
  border-radius: 8px;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.all-project-card:hover {
  transform: scale(1.05);
}

.all-project-card img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-right: var(--spacing);
  border-radius: 8px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.all-project-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.all-projects-subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 10px 0;
}

.all-projects-description {
  font-size: 0.9rem;
  font-weight: 200;
  margin-top: 10px;
}


.landing-animation {
  text-align: center;
  margin-top: 20px;
}

#bunny-img {
  width: 500px; /* Increase width */
  height: auto; /* Keep aspect ratio */
  transition: width 0.5s ease; /* Smooth transition when changing image */
}

#magic-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0f4265;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#magic-button:hover {
  background-color: #68abd2;
}







/* Breakpoint for 900px */
@media (max-width: 900px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row at 900px and below */
  }
  
  .nav-links {
    display: none; /* Hide nav links by default */
    position: fixed; /* Make nav links overlay the screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.9); /* Dark background for overlay */
    flex-direction: column;
    justify-content: center; /* Center the links vertically */
    text-align: center;
    padding: 20px 0; /* Add padding for spacing */
    z-index: 9999; /* Ensure the overlay appears above other content */
  }

  .nav-links a {
    font-size: 2rem; /* Make text larger on mobile */
    color: var(--white); /* White text for better contrast */
    padding: 15px 0; /* Add padding between links */
  }

  .nav-links.active {
    display: flex; /* Show nav links when active */
  }

  /* Show the Home link at 500px */
  .nav-links .home-link {
    display: block; /* Make Home link visible */
    font-size: 2rem; /* Larger text size for mobile */
    padding: 15px 0;
  }

  .home-link img {
    height: 120px; 
    width: auto; 
  }

  .hamburger {
    display: block; /* Show hamburger icon */
  }

  /* Landing Page Adjustments */
  .landing-content {
    flex-direction: column; /* Stack text and animation vertically */
    text-align: center; /* Center align text and animation */
  }

  .landing-text {
    max-width: 100%; /* Take up full width on smaller screens */
    padding-right: 0; /* Remove extra padding */
  }

  .landing-animation {
    max-width: 100%; /* Take up full width on smaller screens */
  }

  /* Featured Projects Adjustments */
  .featured-projects {
    margin: 0 auto;
  }
  
  .project-card {
    padding: 15px;
  }

  .project-card::before {
    margin: 15px;
  }

  /* Adjust "All Projects" Section */
  .all-projects {
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
    margin: 0 auto;
  }

  .projects-wrapper {
    padding: 20px;
  }

  /* Footer Adjustments */
  footer {
    padding: 20px var(--spacing);
  }

  /* Adjust Section Titles and Text */
  .section-title {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 1rem;
  }

  /* Adjust Project Cards Layout */
  .project-card {
    padding: 10px;
  }

  /* Adjust Overall Padding */
  .container {
    padding: 10px;
  }

  .project-banner {
    border-radius: 12px;
  }

  .project-card {
    height: auto; /* Adjust the height on mobile */
    padding: 15px;
  }

  .card-content h3 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .featured-description {
    font-size: 0.8rem;
  }

  .projects-wrapper {
    grid-template-columns: 1fr;
  }

  .categories {
    text-align: center;
  }

  .categories li {
    font-size: 1.1rem;
    padding: 8px;
  }

  .all-project-card {
    flex-direction: column; /* Stack the image and content vertically on smaller screens */
  }

  .all-project-card img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: var(--spacing);
  }

  .project-details {
    text-align: center;
  }

  .all-project-card h3 {
    font-size: 1.3rem;
  }

  .all-projects-subtitle {
    font-size: 1rem;
  }

  .all-projects-description {
    font-size: 0.9rem;
  }

  footer {
    height: 60vh; /* Reduces the footer height to 60% of the viewport height on screens smaller than 900px */
  }
}

/* Breakpoint for 500px */
@media (max-width: 500px) {
  .nav-links {
    display: none; /* Hide nav links by default */
    position: fixed; /* Make nav links overlay the screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: var(--primary-color 0.9); /* Dark background for overlay */
    flex-direction: column;
    justify-content: center; /* Center the links vertically */
    text-align: center;
    padding: 20px 0; /* Add padding for spacing */
    z-index: 9999; /* Ensure the overlay appears above other content */
  }

  .nav-links a {
    font-size: 2rem; /* Make text larger on mobile */
    color: var(--accent-color); /* White text for better contrast */
    padding: 15px 0; /* Add padding between links */
  }

  .nav-links.active {
    display: flex; /* Show nav links when active */
  }

  /* Show the Home link at 500px */
  .home-link img {
    height: 100px; 
    width: auto;  
  }
  
  .hamburger {
    display: block; /* Show hamburger icon */
  }

  /* Landing Page Adjustments */
  .landing {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 40px var(--spacing);
  }

  #logo-name-img {
    width: 100%;
    height: auto;
  }
  

  /* Featured Projects Adjustments */
  .featured-projects {
    margin: 0 auto;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 15px;
  }

  .project-card::before {
    margin: 15px;
  }

  /* Adjust "All Projects" Section */
  .all-projects {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
  }

  .projects-wrapper {
    padding: 20px;
  }

  /* Footer Adjustments */
  footer {
    padding: 20px var(--spacing);
  }

  /* Adjust Section Titles and Text */
  .section-title {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 1rem;
  }

  /* Adjust Project Cards Layout */
  .project-card {
    padding: 10px;
  }

  /* Adjust Overall Padding */
  .container {
    padding: 10px;
  }

  .projects-container {
    grid-template-columns: 1fr; /* Stack cards on smaller screens */
  }

  .project-banner {
    border-radius: 12px;
  }

  .project-card {
    height: auto; /* Adjust the height on mobile */
    padding: 15px;
  }

  .card-content h3 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .featured-description {
    font-size: 0.8rem;
  }

  .projects-wrapper {
    grid-template-columns: 1fr;
  }

  .categories {
    text-align: center;
  }

  .categories li {
    font-size: 1.1rem;
    padding: 8px;
  }

  .all-project-card {
    flex-direction: column; /* Stack the image and content vertically on smaller screens */
  }

  .all-project-card img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: var(--spacing);
  }

  .project-details {
    text-align: center;
  }

  .all-project-card h3 {
    font-size: 1.3rem;
  }

  .all-projects-subtitle {
    font-size: 1rem;
  }

  .all-projects-description {
    font-size: 0.9rem;
  }

  footer {
    height: 40vh; /* Further reduce the height on screens smaller than 600px */
  }
  
}